input {
	--color: var(--input-color);

	width: 100%;
	height: var(--font-size);
	border: none;
	background: none;
	padding: 2vh 0.75vw;
	padding-left: 0.5vw;
	margin-top: 0.75vh;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	transition: ease 0.1s;
}

input:focus {
	outline: none;
	border-color: var(--color);
}
