input {
	height: 4.6vh;
	color: white;
	padding: 1vh 0.75vw;
	border: none;
	border-radius: 5px;
	transition: filter 0.25s;
}

input:hover {
	cursor: pointer;
	filter: brightness(110%);
}

input:focus {
	outline: none;
}
